<!--
<header class="header">
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)">Parrot Wings</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" data-target="#" href=""><i class="material-icons material-icons--lg">account_box</i> John Doe<span class="badge badge--total">500 PW</span>
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">New transaction</a></li>
                            <li><a href="javascript:void(0)">Logout</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="material-icons material-icons--lg">add_box</i></a>
                    </li>
                    <li>
                        <a href=""><i class="material-icons material-icons--lg">exit_to_app</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
-->

<header class="header">
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)">Parrot Wings</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="" title=""><i class="material-icons material-icons--lg">account_box</i> John Doe<span class="badge badge--total">500 PW</span></a>
                    </li>
                    <li>
                        <a href="" title="New transaction"><i class="material-icons material-icons--lg">add_box</i> <span class="navbar__title-menu">New transaction</span></a>
                    </li>
                    <li>
                        <a href="" title="Logout"><i class="material-icons material-icons--lg">exit_to_app</i> <span class="navbar__title-menu">Logout</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>